.menu-item:hover {
  text-decoration: none;
}

.end-pipe {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  display: inline-block;
  opacity: 0;
  z-index: -10;
  transition: transform .2s, opacity .2s;
}