@import url("https://fonts.googleapis.com/css?family=Montserrat:200,500");
.app {
  margin: 0;
  display: block;
  font-family: Montserrat, sans-serif;
  color: #4c4c4d; }

abbr[title] {
  text-decoration: none; }

a, a:visited {
  color: #4c4c4d;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  color: #4c4c4d;
  text-decoration: underline; }

.nav a, .header a {
  text-decoration: none;
  font-weight: normal; }

h1 {
  font-size: 2em;
  text-transform: uppercase;
  color: #4c4c4d; }

:focus {
  outline: none; }

button {
  background: none;
  border: 0; }

#app {
  height: 100vh;
  background-color: #f5f3ed; }

.main-content {
  text-align: center;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }

section {
  height: 100vh;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap; }

article {
  margin: .5em 2.5em 3em; }

h1 {
  margin: .5em; }

.footer {
  white-space: nowrap;
  width: 100%;
  position: fixed;
  bottom: 5px;
  margin: 1em 0 0 0;
  text-align: right; }

.header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between; }
  .header .header-buttons {
    display: flex;
    align-items: center; }
    .header .header-buttons .resume-btn {
      text-align: center;
      margin: .5em;
      cursor: pointer;
      height: 100%; }
  .header .main-tagline {
    display: block; }
  .header .logo {
    margin: .5em;
    font-size: 2.5em; }
  .header #menu-button {
    margin: 1em;
    right: 0; }

.main-nav {
  position: fixed;
  text-align: right;
  right: 0;
  top: 60px; }
  .main-nav .nav {
    display: flex;
    flex-flow: column nowrap; }
    .main-nav .nav li {
      margin: .5em;
      text-align: right; }

#menu-button {
  background: none;
  border: none;
  padding: 0;
  line-height: 100%;
  height: 26px;
  width: 20px;
  cursor: pointer; }
  #menu-button small {
    height: 10px;
    font-size: 8px; }

#menu-svg {
  stroke-width: 2;
  stroke: #343; }

.social-media-nav {
  font-size: 1em;
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto; }
  .social-media-nav .nav {
    text-align: right;
    display: flex;
    margin: 0 1em 2em 0;
    flex-flow: column nowrap; }
    .social-media-nav .nav li + li {
      padding: 0;
      margin: 1em 0 0; }
    .social-media-nav .nav li :first-child {
      cursor: pointer; }

.footer {
  color: rgba(102, 102, 102, 0.3); }

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(87, 87, 87, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; }

.modal-wrapper {
  position: fixed;
  background-color: #eee;
  z-index: 9999;
  min-width: 16em;
  min-height: 30em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

.modal-xsmall {
  min-height: 10em;
  min-width: 16em; }

.modal-small {
  max-height: 20vh;
  max-width: 25vw; }

.modal-medium {
  min-height: 28em;
  min-width: 40em;
  height: 40vh;
  width: 50vw;
  max-height: 35em;
  max-width: 40em; }

.modal-large {
  height: 85vh;
  width: 75vw; }

.modal-menu {
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: auto;
  align-items: center;
  align-content: center;
  margin: 0; }
  .modal-menu .btn {
    background: none;
    border: none;
    margin: 1em;
    cursor: pointer; }
    .modal-menu .btn:hover {
      text-decoration: underline;
      text-shadow: 0 1px 0 #2e2e2e; }

.modal-h1 {
  display: inline-block; }

.modal-content {
  margin: auto;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.modal-actions {
  display: flex;
  flex-flow: row-reverse nowrap;
  margin: 1em;
  justify-content: space-around;
  width: 80%;
  align-self: center;
  bottom: 0; }

.btn-active {
  cursor: pointer; }

.html-form {
  display: flex;
  width: calc(100% - (1em * 2));
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 0 1em; }
  .html-form .html-label {
    text-transform: uppercase; }
  .html-form .html-input {
    height: 1.25em; }
  .html-form .html-input, .html-form .html-textarea {
    background: white;
    border: 1px solid #999;
    width: calc(100% - .5em);
    margin: .5em auto 1.25em; }
  .html-form .html-textarea {
    height: 13.5em;
    overflow-y: auto;
    margin-bottom: .5em; }

.email-form-instructions {
  margin: 0 0 .5em; }

.validation-checkmark {
  color: green;
  margin-left: 1em;
  opacity: 0; }

.email-form-sender-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-between; }
  .email-form-sender-wrapper .name-label, .email-form-sender-wrapper .address-label {
    margin-bottom: 1em; }
  .email-form-sender-wrapper .email-form-name, .email-form-sender-wrapper .email-form-address {
    max-width: 33%;
    margin: .5em 0 1.25em; }

.email-confirmation {
  display: inline-block;
  width: 100%;
  text-align: center; }

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
  margin: 0 15px; }
  .switch:after {
    content: "PDF";
    position: absolute;
    font-size: 10px;
    top: 3px;
    right: 4px; }
  .switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  border: 1px solid black;
  transition: 150ms; }

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: black;
  transition: 150ms;
  box-shadow: 0 1px 1px #8f8f8f; }

input:checked + .slider {
  background-color: none; }

input:focus + .slider {
  box-shadow: 0 0 1px #8f8f8f; }

input:checked + .slider:before {
  transform: translateX(25px); }

.slider.round {
  border-radius: 18px; }

.slider.round:before {
  border-radius: 50%; }

.svg-downchevron text {
  fill: #6A6A6A; }

.svg-downchevron path {
  stroke: #4C4C4C; }

.nav {
  padding-left: 0;
  text-align: center;
  margin: 0 auto; }
  .nav li {
    display: inline-block; }
    .nav li + li {
      padding-left: 1em; }

.section-home {
  max-width: 1000px;
  height: 100vh; }
  .section-home article {
    margin-top: -2em; }
  .section-home .intro-name {
    text-shadow: 0 0.01em 0.01em rgba(30, 30, 30, 0.8);
    font-size: 6em;
    margin: .25em auto 0; }
  .section-home .intro-block {
    font-size: 1.25em;
    margin: .25em .5em; }
    .section-home .intro-block p {
      margin: .2em 0; }
      .section-home .intro-block p:nth-of-type(2) {
        font-size: .75em; }
  .section-home .scrolldown {
    position: absolute;
    bottom: 10px; }

.name-bold {
  font-weight: 500; }

.name-thin {
  font-weight: 200; }

.name-pipes {
  font-family: Arial;
  font-weight: 400; }

.section-about {
  text-align: left;
  align-items: flex-start; }
  .section-about h1 {
    margin: 0 .75em; }

.logo {
  opacity: 0; }

.header-logo {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease 0.75s; }

.intro-name {
  opacity: 0;
  transform: translateY(-100px); }

.intro-block {
  opacity: 0;
  transform: translateY(40px); }

.intro-init-ui {
  opacity: 0; }

.intro-anim-move-name {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 3s ease, transform .8s ease; }

.intro-anim-move-block {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 3s ease, transform .8s ease; }

.intro-anim-show-ui {
  opacity: 1;
  transition: opacity 2s ease 0.75s; }

.menu-item:hover {
  text-decoration: none; }

.end-pipe {
  font-size: 1.1em;
  display: inline-block;
  opacity: 0;
  z-index: -10;
  transition: transform .2s, opacity .2s; }

.animate-downchevron {
  animation: bounce 0.5s steps(4) infinite alternate;
  animation-timing-function: ease-in-out; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-1px); } }

.dim-ui {
  opacity: .2; }

.li-item {
  transform: translateX(150px);
  transition: transform .1s ease-in; }

.show-menu-item {
  transform: translateX(0); }

@media (max-width: 460px) {
  .header {
    height: 4em; }
    .header .logo {
      margin: 0 0 0 .2em; }
    .header #menu-button, .header #menu-button svg {
      width: 1.5em;
      height: 2em; }
  .section-home .intro-name {
    font-size: 4em; } }

@media (max-width: 700px) {
  .modal-medium {
    height: 80vh;
    width: 70vw;
    min-width: 16em; }
    .modal-medium .email-form-sender-wrapper {
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%; }
      .modal-medium .email-form-sender-wrapper .email-form-name, .modal-medium .email-form-sender-wrapper .email-form-address {
        max-width: 100%; }
    .modal-medium .html-label {
      margin: 0; }
    .modal-medium .html-input {
      width: 100%; } }

.hidden {
  display: none;
  visibility: hidden;
  left: -999999999999px;
  top: -999999999999px; }

.loading-screen-backdrop {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9000; }

/*# sourceMappingURL=styles.css.map */