@media (max-width: 460px) {
  .header {
    height: 4em;
    .logo {
      margin: 0 0 0 .2em;
    }
    #menu-button, #menu-button svg {
      width: 1.5em;
      height: 2em;
    }
  }
  .section-home {
    .intro-name {
      font-size: 4em;
    }
  }
}

@media (max-width: 700px) {
  .modal-medium {
    height: 80vh;
    width: 70vw;
    min-width: 16em;
    .email-form-sender-wrapper {
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
      .email-form-name, .email-form-address {
        max-width: 100%;
      }
    }
    .html-label {
      margin: 0;
    }
    .html-input {
      width: 100%;
    }
  }
}
