@import "variables";

//TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Gudea|Roboto+Condensed|Inconsolata|Montserrat:200,400,500');

//VARIABLES
$text-shadow: 0 .01em .01em rgba(30,30,30,.8);
$colour-text-primary: #4c4c4d;
$link-text-colour: #131313;

//BASE STYLES
.app {
  margin: 0;
  display: block;
  font-family: Montserrat, sans-serif;
  color: $colour-text-primary;
}

abbr[title] {
  text-decoration: none;
}

a, a:visited {
  color: $colour-text-primary;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $colour-text-primary;
  text-decoration: underline;
}

.nav a, .header a {
  text-decoration: none;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  color: $colour-text-primary;
}

:focus {
  outline: none;
}

button {
  background: none;
  border: 0;
}
