@import "header";
@import "main-menu";
@import "social-media-nav";
@import "footer";
@import "modal";
@import "email-modal";
@import "switch-btn";
@import "icons/chevrons";


.nav {
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  li {
    display: inline-block;
    & + li {
      padding-left: 1em;
    }
  }
}
